<!DOCTYPE html>
<html x-ng-app="TTTApp">
<head>
    <title>A Very Brady Tic Tac Toe Game</title>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="style.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <!-- firebase -->
    <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
    <!-- angular fire -->
    <script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
    <script src="main.js"></script>
</head>
<body>

    <h1>A Very Brady <br>Tic Tac Toe Game</h1>

    <div x-ng-controller="TTTController" ng-model="gameContainer">

        <!-- This is the board -->
        <div class="theBox">
            <div x-ng-repeat="cell in gameContainer.cellListArray">
                <div class="allCellsAlways test{{cell.num}}"  x-ng-click="playerPicks(cell)"
                x-ng-class="{xclass: cell.status=='Player 0', oclass: cell.status =='Player 1'}">

                <!-- Cell Contents: {{cell.status}} -->
                </div>
            </div>
            <!-- <div x-ng-show="gameContainer.gameState == 'playing'" class="notification">Game in progress.</div> -->
            <div x-ng-show="gameContainer.gameState == 'player 0 won'" class="notification">Put on your Sunday best, kids. We're going to Sears to celebrate Player 0's triumphant win!</div>
            <div x-ng-show="gameContainer.gameState == 'player 1 won'" class="notification">Put on your Sunday best, kids. We're going to Sears to celebrate Player 1's triumphant win!</div>
            <div x-ng-show="gameContainer.gameState == 'tied'" class="notification">Aw, nuts, you tied! Oh well, us Bradys have to stick together or else we'll fall apart!</div>
        </div>
        <div class="clearFix"></div>
        <button class="button" x-ng-click="resetButton()">Play Again {{imPlayer}}</button>

    <br>
   
    <p></p>
    </div>
</body>
</html>