<!DOCTYPE html>
<html ng-app="TTTApp">
<head>
    <title>A Very Brady Tic Tac Toe Game</title>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="style.css">    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="main.js"></script>
</head>
<body>

    <h1>A Very Brady <br>Tic Tac Toe Game</h1>

    <div ng-controller="TTTController">
        <button class="button" ng-click="resetButton()">Play Again</button>
        <!-- This is the board -->
        <div class="theBox" >
            <div ng-repeat="currentCell in cellList">
                <div class="allCellsAlways test{{currentCell.num}}"  ng-click="playerPicks(currentCell)"
                ng-class="{xclass: currentCell.status=='X', oclass: currentCell.status =='O'}">

                <!-- <img src="{{currentCell.image[0].src}}">  -->

                <!-- Cell Contents: {{currentCell.status}} -->
                </div>
            </div>
            <div x-ng-bind="notification" class="notification"> </div>
        </div>
    <br>
   
    <p></p>
    </div>
</body>
</html>