@font-face {
    font-family: BellBottom;
    src: url(BellBottom.ttf);
}
h1 {
    font-family: BellBottom;
    text-align: center;
    font-size: 80px;
    color: rgb(34,171,238);
    text-shadow: 2px 2px rgb(0,118,206);
    margin-bottom: 50px;
}

body {
    background-color: rgb(188,249,102) ; 
}


.theBox {
	width: 470px;
	max-height: 679px;
    border-style: 2px solid;
    border-color: rgb(255,0,103);
    float: right;
    margin-right: 30%;
    margin-top: 5px;

    
}
.allCellsAlways {
    width: 142px;
	height: 142px;
    float: left;
    margin: 0px ;
    padding: 0px ;
    border: 3px solid rgb(255,0,103);
}

.allCellsAlways:hover {
    opacity: 0.5;
}

.notification {
    font-family: 'PT Sans Narrow', sans-serif, bold;
    font-style: bold;
    text-align: center;
    font-size: 27px;
    color: rgb(195,10,75) ;
    position: absolute;
    top: 210px;
    right: 210px;
}

.button {
    float: right;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
    color: white;
    background-color: rgb(255,0,103);
    border: 5px solid rgb(255,0,103);
    border-radius: 50px;
    bottom: 5px;
    margin-right: 48%;
    padding: 5px;
    margin-bottom: 30px;   
    
}

.clearFix {
    clear: both;
    padding: 10px;
}

img {
    height: 150px;
    width: 150px;
}

.test1 {
    background-image: url(marcia_new.png);
}

.test2 {
    background-image: url(carol_new.png);
}

.test3 {
    background-image: url(greg_new.png);
}

.test4 {
    background-image: url(jan_new.png);
}

.test5 {
    background-image: url(alice_new.png);
}

.test6 {
    background-image: url(peter_new.png);
}

.test7 {
    background-image: url(cindy_new.png);
}

.test8 {
    background-image: url(mike_new.png);
}

.test9 {
    background-image: url(bobby_new.png);
}


.xclass {
	background-image: url(brush.jpg);
}

.oclass {
	background-image: url(football.png);
    border: 3px solid rgb(34,171,238);
}
